<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Zaboravljena lozinka</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="forgotPasswordForm">
              <p class="text-muted mb-3">
                Unesite email adresu i poslat cemo vam link za reset lozinke.
              </p>

              <div class="form-group pt-2">
                <small
                  *ngIf="
                    forgotPasswordForm.controls['email'].dirty &&
                    forgotPasswordForm.hasError('required', 'email')
                  "
                  class="text-danger"
                >
                  *Email je obavezan
                </small>

                <div
                  class="input-field"
                  [class.error]="
                    forgotPasswordForm.controls['email'].dirty &&
                    forgotPasswordForm.hasError('required', 'email')
                  "
                >
                  <span class="fa fa-envelope p-2"></span>
                  <input
                    formControlName="email"
                    type="text"
                    placeholder="Email"
                  />
                </div>
              </div>

              <button
                (click)="onSubmit()"
                type="submit"
                class="btn btn-primary btn-block mt-4 w-100"
              >
                Posalji reset link
              </button>

              <div class="text-center pt-4 text-muted">
                Sjetili ste se lozinke?
                <a id="forget" routerLink="/login">Prijava</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
