<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Registracija</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="signUpForm">
              <div class="form-group pt-3">
                <small
                  *ngIf="
                    signUpForm.controls['firstName'].dirty &&
                    signUpForm.hasError('required', 'firstName')
                  "
                  class="text-danger"
                  >*Ime je obavenzo</small
                >
                <div
                  class="input-field"
                  [class.error]="
                    signUpForm.controls['firstName'].dirty &&
                    signUpForm.hasError('required', 'firstName')
                  "
                >
                  <span class="fa fa-user p-2"></span>
                  <input
                    formControlName="firstName"
                    type="text"
                    placeholder="Ime"
                  />
                </div>
              </div>
              <div class="form-group pt-3">
                <small
                  *ngIf="
                    signUpForm.controls['lastName'].dirty &&
                    signUpForm.hasError('required', 'lastName')
                  "
                  class="text-danger"
                  >*Prezime je obavenzo</small
                >
                <div
                  class="input-field"
                  [class.error]="
                    signUpForm.controls['lastName'].dirty &&
                    signUpForm.hasError('required', 'lastName')
                  "
                >
                  <span class="fa fa-user-o p-2"></span>
                  <input
                    formControlName="lastName"
                    type="text"
                    placeholder="Prezime"
                  />
                </div>
              </div>
              <div class="form-group pt-3">
                <small
                  *ngIf="
                    signUpForm.controls['email'].dirty &&
                    signUpForm.hasError('required', 'email')
                  "
                  class="text-danger"
                  >*Email je obavezan</small
                >
                <div
                  class="input-field"
                  [class.error]="
                    signUpForm.controls['email'].dirty &&
                    signUpForm.hasError('required', 'email')
                  "
                >
                  <span class="fa fa-envelope p-2"></span>
                  <input
                    formControlName="email"
                    type="text"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="form-group pt-3">
                <small
                  *ngIf="
                    signUpForm.controls['username'].dirty &&
                    signUpForm.hasError('required', 'username')
                  "
                  class="text-danger"
                  >*Korisničko Ime je obavenzo</small
                >
                <div
                  class="input-field"
                  [class.error]="
                    signUpForm.controls['username'].dirty &&
                    signUpForm.hasError('required', 'username')
                  "
                >
                  <span class="fa fa-user-circle p-2"></span>
                  <input
                    formControlName="username"
                    type="text"
                    placeholder="Korisničko Ime"
                  />
                </div>
              <div class="form-group pt-3">
                <small
                  *ngIf="
                    signUpForm.controls['tenantId'].dirty &&
                    signUpForm.hasError('required', 'tenantId')
                  "
                  class="text-danger"
                  >*Organizacija je obavezna</small
                >
                <div
                  class="input-field"
                  [class.error]="
                    signUpForm.controls['tenantId'].dirty &&
                    signUpForm.hasError('required', 'tenantId')
                  "
                >
                  <span class="fa fa-building p-2"></span>
                  <select formControlName="tenantId" class="form-control">
                    <option value="" disabled selected>Odaberite organizaciju</option>
                    <option *ngFor="let tenant of tenants" [value]="tenant.id">
                      {{ tenant.name }}
                    </option>
                  </select>
                </div>
                <small *ngIf="isLoadingTenants" class="text-muted">
                  Učitavanje organizacija...
                </small>
              </div>
              </div>
              <div class="form-group pt-3">
                <small
                  *ngIf="
                    signUpForm.controls['password'].dirty &&
                    signUpForm.hasError('required', 'password')
                  "
                  class="text-danger"
                  >*Lozinka je obavezna</small
                >
                <div
                  class="input-field"
                  [class.error]="
                    signUpForm.controls['password'].dirty &&
                    signUpForm.hasError('required', 'password')
                  "
                >
                  <span class="fa fa-lock p-2"></span>
                  <input
                    formControlName="password"
                    [type]="type"
                    placeholder="Lozinka"
                  />
                  <span
                    (click)="hideShowPass()"
                    className="fa {{ eyeIcon }}"
                  ></span>
                </div>
              </div>
              <div class="form-group pt-3">
                <small
                  *ngIf="
                    signUpForm.controls['confirmPassword'].dirty &&
                    signUpForm.hasError('required', 'confirmPassword')
                  "
                  class="text-danger"
                  >*Potvrda lozinke je obavezna</small
                >
                <div
                  class="input-field"
                  [class.error]="
                    signUpForm.controls['confirmPassword'].dirty &&
                    signUpForm.hasError('required', 'confirmPassword')
                  "
                >
                  <span class="fa fa-lock p-2"></span>
                  <input
                    formControlName="confirmPassword"
                    [type]="type"
                    placeholder="Potvrdi lozinku"
                  />
                </div>
                <button
                  (click)="onSignUp()"
                  type="submit"
                  class="btn btn-primary btn-block mt-4 w-100"
                >
                  Registriraj se
                </button>
                <div class="text-center pt-4 text-muted">
                  Imate račun? <a id="forget" routerLink="/login">Prijava</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
